{% load static %}
<!doctype html> 
<html> 
	<head> 
		<title>List of persons</title> 
		<link rel="stylesheet" href="{% static 'border.css' %}">
	</head> 
	<body>
		<form method="POST">
			{% csrf_token %}
			<select name="movie">
				{% for entry in movie %}
    			<option value="{{ entry.name }}">{{ entry.name }}</option>
				{% endfor %}
			</select>
			<select name="customer">
				{% for entry in customer %}
    			<option value="{{ entry.first_name }}">{{ entry.first_name }}</option>
				{% endfor %}
			</select>
			<button type='submit' name='assign'>Assign</button>
		</form>
	</body> 
</html>